# trier les photos

In [15]:
import pandas as pd

In [30]:
batch = '1a532d5d-f99a-41b4-9ac8-240ce60da7d6'
date = '2024-06-28'
file_path = f'../artefacts/photos/{batch}/{date}/merged.csv'
done_path = f'../artefacts/photos/{batch}/{date}/done.csv'
time_threshold = 15
df = pd.read_csv(file_path)
df['datetime'] = pd.to_datetime(df['datetime'])
df = df.sort_values(by = 'datetime')
df['time_diff'] = df['datetime'].diff().dt.total_seconds()
df['folder'] = (df['time_diff'] > time_threshold).cumsum()
df = df.drop(columns = ['time_diff'])
df.to_csv(done_path, index = False)
df

,folder,file,datetime,date,uuid
612,0,IMG_1378.JPG,2024-06-28 18:04:16,2024-06-28,74f61a4b-7e48-42bf-91f5-75dab951c7ec.jpg
240,0,IMG_1377.JPG,2024-06-28 18:04:16,2024-06-28,b5f1226c-12d6-463b-a651-9e63e425a9a7.jpg
190,0,IMG_1378.JPG,2024-06-28 18:04:16,2024-06-28,d442f214-e57d-4cad-a8ac-a506bc803dbe.jpg
662,0,IMG_1377.JPG,2024-06-28 18:04:16,2024-06-28,7c54f1a6-5612-49db-af30-0b03079cb93b.jpg
630,0,IMG_1379.JPG,2024-06-28 18:04:17,2024-06-28,0d3479a7-2e04-414b-9e58-00b5c7b9ebe0.jpg
...,...,...,...,...,...
682,8,IMG_2092.JPG,2024-06-28 18:30:28,2024-06-28,e199ccc5-ac20-4419-8e83-1565c6324b09.jpg
669,8,IMG_2093.JPG,2024-06-28 18:30:33,2024-06-28,73ee4914-89c0-437f-8908-99b20d56b09e.jpg
247,8,IMG_2093.JPG,2024-06-28 18:30:33,2024-06-28,e4e79a4f-89fa-4822-99ad-2fb9256bf04e.jpg
715,9,IMG_2097.JPG,2024-06-28 18:30:49,2024-06-28,21dd0db6-19ea-4afe-bfe6-c89494ba0c4c.jpg
293,9,IMG_2097.JPG,2024-06-28 18:30:49,2024-06-28,cfb0ae42-9f1a-428b-b969-edc4d141accd.jpg

In [ ]:
df