# miniature

In [1]:
import pandas as pd

from src.functions.file_handle import list_files

In [3]:
batch = '1a532d5d-f99a-41b4-9ac8-240ce60da7d6'
date = '2024-06-28'
path = f'../artefacts/photos/{batch}/{date}'
csv_path = f'{path}/merged.csv'

df = pd.read_csv(csv_path)
df.head()

,folder,file,datetime,date,uuid
0,Gala_2024,IMG_1493.JPG,2024-06-28 18:06:44,2024-06-28,a1077068-f1e4-4e31-92e0-b88fe4433b1f.jpg
1,Gala_2024,IMG_1487.JPG,2024-06-28 18:06:31,2024-06-28,ecc9afb9-6af7-43fa-bd1a-c971a3f7cc80.jpg
2,Gala_2024,IMG_1478.JPG,2024-06-28 18:06:24,2024-06-28,f651b646-92d6-46d6-ba65-78f029d0698f.jpg
3,Gala_2024,IMG_1450.JPG,2024-06-28 18:05:53,2024-06-28,ca1f44b1-5bc5-4e8c-9a7a-c70a52269797.jpg
4,Gala_2024,IMG_1444.JPG,2024-06-28 18:05:46,2024-06-28,5feb1e65-59c7-42b6-89a5-b6638a9e72cc.jpg

In [8]:
import os
from PIL import Image

batch = '1a532d5d-f99a-41b4-9ac8-240ce60da7d6'
date = '2024-06-28'
path = f'../artefacts/photos/{batch}/{date}'
files = list_files(path, '.jpg')

dest_path = f'../artefacts/miniatures/{batch}/{date}'
if not os.path.exists(dest_path):
    os.makedirs(dest_path)

for file in files:
    img = Image.open(f'{path}/{file}')
    img.thumbnail((100, 100))
    img.save(f'{dest_path}/{file}')